@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
$font-family: 'Open Sans',
sans-serif;
$text-transform-title: capitalize;
$text-transform-body: none;
$font-size-title: 18px;
$font-size-body: 16px;